html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

.contentSection {
  height: calc(100vh - 50px);
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerSection {
  height: 50px;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerSectionName {
  padding: 18px 25px;
  color: #ffffff;
  text-decoration: none;
}

.footerSectionLinkWrapper {
  padding: 18px 25px;
}

.footerSectionOffsetLink {
  margin-right: 25px;
}

.footerSectionLink {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
  outline: none;
  opacity: .5;
}

.footerSectionLink:hover {
  opacity: 1;
}

.profilePicture {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  position: absolute;
}

.profileSection {
  /* border: 1px solid red; */
  min-width: 320px;
  max-width: 600px;
  width: 50%;
  margin-top: 50px;
}

.profileContent {
  /* border: 1px solid green; */
  display: block;
}

.profileHeader {
  font-size: 30px;
  text-align: right;
  /* border: 1px solid blue; */
  display: block;
  margin-top: 25px;
  margin-bottom: 15px;
}

.profileSubHeader {
  text-align: right;
  opacity: .5;
  display: block;
  line-height: 25px;
}
