html,body {
  background-color:#000000;
  color:#555555;
  font-size: 14px;
}

.bannerSection {
    text-align: center;
}

.footerSection {
  height: 50px;
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footerSectionName {
  padding: 18px 25px;
  color: #ffffff;
  text-decoration: none;
}

.footerSectionLinkWrapper {
  padding: 18px 25px;
}

.footerSectionOffsetLink {
  margin-right: 25px;
}

.footerSectionLink {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
  outline: none;
  opacity: .5;
}

.footerSectionLink:hover {
  opacity: 1;
}
