html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

.bannerSection {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  color: #ffffff;
}

#canvasOne {
  margin: 0 auto;
}

.footerSection {
  height: 50px;
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footerSectionName {
  padding: 18px 25px;
  color: #ffffff;
  text-decoration: none;
}

.footerSectionLinkWrapper {
  padding: 18px 25px;
}

.footerSectionOffsetLink {
  margin-right: 25px;
}

.footerSectionLink {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
  outline: none;
  opacity: .5;
}

.footerSectionLink:hover {
  opacity: 1;
}

canvas {
  display: block;
}

#c {
  height: calc(100vh - 50px);
  width: 100vw;
}
